<% include ../layouts/doctype.ejs %>

<div class="card bg-light mb-3 mx-auto mt-5" style="max-width: 18rem">
	<div class="card-header">
		Modifier un article
    </div>
    <div class="card-body">
<form action="/articles/update/<%= article.id %>" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="nom-article">Nom</label>
        <input value="<%= article.nom %>" type="text" class="form-control" name="nom_article" id="nom-article" required>
        
    </div>
    <div class="form-group">
        <label for="detail-article">Détails</label>
        <input value="<%= article.detail %>" type="text" class="form-control" name="detail_article" id="detail-article" required>

    </div>
    <div class="form-group">
        <label for="prix-article">Prix</label>
        <input value="<%= article.prix %>" min="0" type="number" class="form-control" name="prix_article" id="prix-article" required>

    </div>
    <div class="form-group">
        <label for="image-article">Image</label>
        <input value="<%= article.image %>" type="file" class="form-control" name="image_article" id="image-article">
    </div>
    <div class="form-group">
        <label for="categorie-article">Catégorie</label>
        <select name="categorie_article" class="form-control" id="select-categories" required>
        
        </select>

    </div>

    <div class="card-footer bg-transparent border-success justify-content-center d-flex">
        <button type="submit" class="btn btn-success">Modifier</button>
    </div>
</form>
</div>


<% include ../layouts/doctype_end.ejs %>

<script src="/javascripts/categories/ajax.js"></script>