



<% for(let i=0; i < articles.length; i++) {%>
    <div>
        <div>id :<%=articles[i].id%> </div>
        <div> nom : <%=articles[i].nom%></div>
        <div>details : <%=articles[i].detail%></div>
        <div>prix : <%=articles[i].prix%></div>
        <div> image : <%=articles[i].image%> </div>
        <div>categorie : <%=articles[i].categories_id%></div>
        <br>
    </div>
            
<% } %>


