<div>
    <div>id :<%= categorie.id %> </div>
    <div>nom : <%= categorie.nom %></div>
    <div>activé : <%= categorie.active %></div>
    <br>

    <% for(let i=0; i < categorie.articles.length; i++) {%>
        <div>
            <div>id :<%=categorie.articles[i].id%> </div>
            <div> nom : <%=categorie.articles[i].nom%></div>
            <div>details : <%=categorie.articles[i].detail%></div>
            <div>prix : <%=categorie.articles[i].prix%></div>
            <div> image : <%=categorie.articles[i].image%> </div>
            <br>
        </div>
                
    <% } %>
    
</div>