<% include ../layouts/doctype.ejs %>

<section class="article">
    <div class="container">

        <h1><%= categorie.nom %></h1>
        <!-- <div>id :<%= categorie.id %> </div>
    <div>nom : <%= categorie.nom %></div>
    <div>activé : <%= categorie.active %></div> -->
        <% if (categorie.articles.length) { %>
        <div class="card-deck my-3">
            <% for(let i=0; i < categorie.articles.length; i++) {%>
                <div class="col-lg-4 px-0">
                    <%- include('../articles/partials/cardArticles', {article: categorie.articles[i]}); %>
                </div>              
            <% } %>
        </div>
        <% } else {%>
        <h2>Il n'y a pas d'article actuellement dans cette catégorie</h1> 
        <% } %>
    
    </div>

<% include ../layouts/doctype_end.ejs %>

<script src="/javascripts/panier/ajax.js"></script>

